html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

h2{
   font-family:  "Montserrat", sans-serif;
   font-size: 2em;
   color: #1e328c;
   line-height: 1.2;
   font-weight: 600;
   text-rendering: optimizelegibility;

}
.header {
  position: relative;
  font-size: 1.25em;
  color: #91aed4;
  padding: 80px 0 80px 0;
  background-color: #1e328c;
  height: 100vh;
  widows: 100%;
}
#nav {
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  background-color: #1e328c;
  transition: padding 0.1s;
  margin-bottom: 3%;
  height: 75px;

}

#nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1e328c;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.list > li {
  margin-left: 20px;
}
.list > li > a{
    display: block;
    color: inherit;
    padding: 0.75rem 0.66em;
    transition: .1s padding;
    position: relative;
    text-decoration: none;
}
.list > li > a:hover{
    color: #002059;
       

}
 span:before{
    margin-top: -9px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #d9d9d9;
}

span:after{
    margin-top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  margin-top: 300px;
}

.super-tittle {
  font-size: calc(1.95vw + 2.33em);
  color: #fafafafa;
  font-family: "Montserrat", sans-serif;
}

.hero-module__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
  padding-left: 40px;
}

.poligono {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  fill: #fff;
}

.poligono-fondo {
  bottom: -5px;
}

.section-test {
    display: flex;
    -ms-flex-align: center;
    align-content: center;
    height: 500px;
    justify-content: center;
    flex-direction: column;
    margin: 50px 20px 50px 20px;

}

.section-title{
    width:100%;
    margin-bottom: 50px;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}
.section-content-reverse{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.section-text{
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: flex-start;
    width: 33.3%;
}

