/*
footer {
  background-color: green;
  margin: 0 0 0 0;
  height: 10vh;
}

body {
  margin: 0, 0, 0, 0;
  height: 30vh;
}

header > h1 {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}
section {
  height: 70vh;
  background-color: aquamarine;
}
header {
  background-color: red;
  margin: 0 0 0 0;
  height: 10vh;
}
aside {
  background-color: purple;
  margin: 0 0 0 0;
  height: 10vh;
}

* > p {
  padding: 2vh;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
} /*
Flex


section {
  background-image: url("./../");
}
*/
